body{
    color: deeppink;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: #1e1f24;

}

#cabecera{
background: rgb(52, 43, 173);
box-shadow: -1px 4px 9px 0px rgb(0 0 0 / 66%);
color: #fff;
font-size: 16px;
font-weight: bold;
margin: 0;
padding: 0.5em;
}

#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline{
    padding-left: 10px;
    font-size: 12px;
    font-weight: lighter;
}
.contenedorito {
width: 50%;
padding: 0px;
text-align: left;
border: 1px solid #ccc;
margin: 0 auto;
}

.contenedorito p{
    color: rgb(139, 138, 138);
}
.contenedorito h1 {
    color: #000;
    font-size: 18px;
}

#post{
    padding: 1em;
    background: white;
}

#footer{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}